header
    head
        link(rel='stylesheet' href='/stylesheets/header.css')
        nav
        ul#nav-header
            li#home
                a(href='/articles' alt='Blog Page') BLOG
            li#about
                a(href='/about' alt='About Page') ABOUT
            li#contact
                a(href='/contact' alt='Contact Page') CONTACT