extends layout
block content
    head
        script(src='/javascripts/contact.js')
    body
        div#contact-about
            h1= title
            a(href='mailto:mikemuellerware@gmail.com') #{email}