doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lib/jquery.min.js')
    script(src='/javascripts/pageLoad.js')
  body
    include ./includes/header.pug
    div#page-wrapper
    block content
