body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#contact-about {
  text-align: center;
}

#contact-about h1 {
  font-size: 40px;
}

#contact-about p {
  font-size: 20px;
}