body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}

a {
  color: #00B7FF;
}

#contact-about {
  padding: 0px;
  margin-top: 5px;
}

#contact-about h1 {
  font-size: 40px;
}

#contact-about p {
  font-size: 20px;
  text-decoration: none;
}

#contact-about a {
  text-decoration: none;
  font-size: 30px;
}

